.Card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Card h3 {
    width: 90%;
}

.CardWrapper {
    margin: 12px 0px;
    padding: 12px 8px;
    width: 90%;
    max-width: 420px;
    background-color: var(--color-light);
}

.Button a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    font-size: 1.6rem;
    color: var(--color-complementary);
    background-color: var(--color-base);
}

.Button :last-child {
    background-color: var(--color-complementary);
    color: var(--color-dark);
    cursor: pointer;
}

.Reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.ReviewCard {
    margin: 12px 0px;
    padding: 12px 8px;
    width: 90%;
    max-width: 420px;
    background-color: white;
}