* {
    --color-dark: #262a2f;
    --color-base: #126c71;
    --color-light: #aad8d3;
    --color-complementary: #eeeeee;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
    background-color: var(--color-complementary);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
}

h3, p {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

@media (min-width:765px ){
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 2.4rem;
    }
    h3, p {
        font-size: 1.8rem;
    }
    h4 {
        font-size: 1.6rem;
    }
}